*{
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

#shareBtn:hover, #shareBtnMobile:hover{
    cursor: pointer;
}


.card {
    width: 90vw;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coverImg{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 2rem;
    object-fit: cover;
    height: 40%;
}

main{
    width: 80%;
    height: 60%;
    position: relative;
}

h1, h2 {
    color: hsl(217, 19%, 35%);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

h2, .author p{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
}

#authorImg {
    width: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
}

.author {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
    position: relative;
    align-items: center;
}

main > p {
    margin-bottom: 2rem;
}

.authorInfo {
    flex-grow: 1;
}

.btn-light {
    width: 1rem;
    height: 1rem;
    background-color: hsl(210, 46%, 95%);
    padding: 0.75rem;
    border-radius: 20%;
    margin-left: 1rem;
}

.btn-dark{
    width: 1rem;
    height: 1rem;
    color: hsl(210, 46%, 95%);
    background-color: hsl(214, 17%, 51%);
    padding: 0.75rem;
    border-radius: 20%;
    margin-left: 1rem;
}

.share-div-mobile {
    position: absolute;
    display: flex;
    background-color: hsl(217, 19%, 35%);
    padding: 1rem;
    width: 90vw;
    height: 30%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    justify-content: space-around;
    align-items: center;
    top: 69%;
    left: -12.5%;


}

.share-div-mobile > .share-ul {
    list-style: None;
    display: flex;
    padding: 0rem;
    width: 50%;
    justify-content: space-evenly;
}

.share-div-mobile > .share-ul:first-child{
    letter-spacing: 0.5rem;
}

.hidden {
    visibility: hidden;
    position: absolute;
}


@media(min-width: 784px){
    .card {
        flex-direction: row;
        padding: 0;
        width: 40rem;
        height: 20rem;
        align-items: center;
    }

    #coverImg {
        margin-bottom: 0;
        height: 100%;
        width: 40%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    main {
        padding: 2rem;
        width: 60%;
        height: auto;
    }

    .author{
        margin-bottom: 0;
    }

    .share-ul {
        list-style: none;
        display: flex;
        background-color: hsl(217, 19%, 35%);
        justify-content: space-evenly;
        padding: 0.5rem 2rem;
        border-radius: 1rem;
        align-items: center;
    }

    .share-ul img {
        width: 1.25rem;
        margin: 0.5rem;
    }

    .share-ul li:nth-of-type(1){
        letter-spacing: 0.25rem;
        margin-right: 0.5rem;
    }

    .share-div-desktop{
        position: absolute;
        bottom: 3rem;
        left:  12rem;
    }

    .share-div-desktop::after{
        content: "";
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid hsl(217, 19%, 35%);
        position: relative;
        top: 0.25rem;
        left: calc(50% - 1.5rem);
    }
}